@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@theme {
  --color-*: initial;
  --color-white: #fffce8;
  --color-black: #3e363f;
  --color-green: #697A21;
  --color-yellow: #B8B42D;
  --color-red: #DD403A;

  --drop-shadow-xl: 7px 7px 0px var(--color-black);
}

@layer base {
  body {
    @apply min-h-screen flex flex-col
  }
  h1 {
    @apply text-3xl font-bold
  }
  h2 {
    @apply text-2xl font-bold
  }
  h3 {
    @apply text-xl font-bold
  }
}